[submodule "lwnoc_topo"]
	path = lwnoc_topo
	url = git@github.com:fliibs/lwnoc_topo.git
	branch = main
[submodule "subs/lwnoc_interrupt_noc"]
	path = subs/lwnoc_interrupt_noc
	url = git@github.com:lwnoc/lwnoc_interrupt_noc.git
[submodule "subs/lwnoc_atb_noc"]
	path = subs/lwnoc_atb_noc
	url = git@github.com:lwnoc/lwnoc_atb_noc.git
[submodule "subs/lwnoc_sts_noc"]
	path = subs/lwnoc_sts_noc
	url = git@github.com:lwnoc/lwnoc_sts_noc.git
[submodule "subs/lwnoc_ring_network"]
	path = subs/lwnoc_ring_network
	url = git@github.com:lwnoc/lwnoc_ring_network.git
[submodule "subs/lwnoc_dti_noc"]
	path = subs/lwnoc_dti_noc
	url = git@github.com:lwnoc/lwnoc_dti_noc.git
